SECRET_KEY="Your project secret key"
DEBUG=True

# Redis url instances, local of hosted
LOCAL_REDIS_INSTANCE_URL=redis://127.0.0.1:6379
REDIS_INSTANCE_URL=redis://127.0.0.1:6379

# Postgres db details
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# 
FRONTEND_URL="Link to a frontend you link the API to"


EMAIL_HOST_USER="Your email host user"
EMAIL_HOST_PASSWORD="Your email host password"
DEFAULT_FROM_EMAIL=Carpool <"Your email host user">

# 
MAIN_ADMIN_NAME="Admin name"
MAIN_ADMIN_EMAIL="Your email host user"

DJANGO_ENV=development
